body{
	/* background-image: url(../img/football.jpg);
	background-attachment: fixed;
	background-position: center; */
  background-color: #08b2f5;
	font-family: sans-serif;
	margin: 0;
	background-size: 100% 100%;
}

img {
	border: 1px solid rgb(16, 233, 45);
	border-radius: 4px;
	padding: 5px;
	width: 150px;
  }
  
  img:hover {
	box-shadow: 0 0 2px 1px rgba(82, 14, 209, 0.5);
  }


  /* dropdown */

  /**/


.navcontainer {
	background: #16acff;
    padding: 5px;
    position: relative;
    z-index: 4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}
nav >ul >li:after{
	content: '';
    height: 2px;
    width: 2px;
    background: #000;
	color:#fff;
	opacity:0;
	bottom:0px;
	left:0px;
    position: absolute;
}
nav >ul >li:hover:after{
	content: '';
	opacity:1;
	height: 2px;
    width: 100%;
	transition:0.5s;
}

/*-- parent nav--*/

.navContainer {
  background: #16acff;
  padding: 5px;
}



li {
  position: relative;
}

nav >ul >li {
  display: inline-block;
}

nav li >a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  min-width: 96px;
  background: #f0f0f0;
  color: #555;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

nav li {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #ccc;
	min-width: 96px;
	background: #f0f0f0;
	color: #555;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
  }

nav li i {
  margin-right: 3px;
  color: #1266ae
}


/*-- parent nav--*/


/*-- level-2--*/

nav >ul >li >ul {
  position: absolute;
  display: none;
  border: 1px solid #16acff
}

nav >ul >li >ul >li {
  width: 140px
}


/*-- level-2--*/


/*-- Hide by default--*/

nav >ul >li >ul >li >ul,

/*-- level-4--*/

nav >ul >li >ul >li >ul>li>ul {
  /*-- level-3--*/
  position: absolute;
  left: 100%;
  width: 140px;
  top: 0px;
  display: none;
  z-index: 2;
  -webkit-animation: threeD .1s;
  /* Chrome, Safari, Opera */
  animation: threeD .1s;
  border: 1px solid #16acff;
}

nav >ul >li >ul >li >ul>li>ul {
  z-index: 3;
}


/*-- Hide by default--*/


/*-- Display on hover--*/

nav >ul >li:hover >ul,
nav >ul >li >ul >li:hover >ul,
nav >ul >li >ul >li>ul>li:hover ul {
  display: block;
}


/*-- Display on hover--*/


/*-- Animation--*/

@keyframes threeD {
  0% {
    transform: perspective( 400px) rotateY( 0deg);
    opacity: 0;
    left: 150%;
    top: 150%;
  }
  20% {
    transform: perspective( 400px) rotateY( -45deg);
    opacity: 0.2;
    left: 140%;
    top: 140%;
  }
  40% {
    transform: perspective( 400px) rotateY( -45deg);
    opacity: 0.4;
    left: 130%;
    top: 130%;
  }
  60% {
    transform: perspective( 400px) rotateY( -45deg);
    opacity: 0.6;
    left: 120%;
    top: 120%;
  }
  80% {
    transform: perspective( 400px) rotateY( -45deg);
    opacity: 0.8;
    left: 110%;
    top: 110%;
  }
  100% {
    transform: perspective( 400px) rotateY( -45deg);
    left: 100%;
    top: 100%;
    opacity: 1;
  }
}

.threeD {
  -webkit-animation: threeD 1s infinite;
  animation: threeD 1s infinite;
}

/* Navigation Bar code */